<!-- Begin Footer
================================================== -->
<footer class="footer" style="background-color: gray;">
    <div class="container">
        <p class="pull-left">
            Copyright &copy; 2022 UG|BLOG
        </p>
        <p class="pull-right">
            Mediumish Theme by <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
        </p>
        <div class="clearfix">
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->